<p>Poštovani/a <b>{{name }} {{surname}}</b></p>

<p>Vaša narudžba je potvrđena! Ulaznice za događaje će biti dostavljene na adresu navedenu u profilu u najkraćem roku!</p>
<p>Želimo Vam lijep i nezaboravan provod!</p>

<p>Srdačan pozdrav,</p>
<p>Vaš <i><b>NaručiKartu!</i></b></p>