<p>Poštovani/a <b>{{name }} {{surname}}</b></p>

<p>Vaša narudžba je uspješno primljena! Naša korisnička služba će je u najkraćem mogućem periodu pregledati i vratiti Vam informaciju o statusu Vaše narudžbe!</p>

<p>Srdačan pozdrav,</p>
<p>Vaš <i><b>NaručiKartu!</i></b></p>