<p>Poštovani/a <b>{{name }} {{surname}}</b></p>

<p>Primili smo zahtjev za promjenu Vaše lozinke. Kod za promjenu vaše lozinke je <i>{{token}}</i></p>
<p>Ukoliko niste podnijeli zahtjev za promjenu lozinke, ignorišite ovaj e-mail.</p>

<p>Srdačan pozdrav,</p>
<p>Vaš <i><b>NaručiKartu!</i></b></p>