<p>Poštovani/a <b><i>{{ name }} {{ surname}}</b></i></p>

<p>Dobrodošli na <i><b>NaručiKartu</b></i>! Nadamo se da ćete pronaći događaje po Vašem ukusu i uz našu pomoć biti dio brojnih događaja u BiH i regionu!</p>

<p>Srdačan pozdrav!</p>