.l-bg-cherry {
    background: linear-gradient(to right, #493240, #f09) !important;
    color: #fff;
    height: 10vw;
}

.l-bg-blue-dark {
    background: linear-gradient(to right, #373b44, #4286f4) !important;
    color: #fff;
    height: 10vw;
}

.l-bg-green-dark {
    background: linear-gradient(to right, #0a504a, #38ef7d) !important;
    color: #fff;
    height: 10vw;
}

.l-bg-orange-dark {
    background: linear-gradient(to right, #a86008, #ffba56) !important;
    color: #fff;
    height: 10vw;
}