.event-img {
    width: 100%;
    object-fit: cover;
    height: 24vw;
    border-radius: 10px;
}

.event-card {
    background: red;
    border-radius: 10px;
}

.button-card {
    background: white;
    padding: 8px;
}

.button-card:hover {
    background: lightgrey;
}